# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: Apache-2.0;
if SOC_QCC730

config NUM_IRQS
	default 128

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 60000000

config SYS_CLOCK_TICKS_PER_SEC
	default 1000

config HEAP_MEM_POOL_SIZE
	default 262144

endif # SOC_QCC730
