# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: Apache-2.0;

CONFIG_UART_QCC730=y
#for UART GPIO configurations
CONFIG_BOARD_QCC730_UART_GPIO_OPTION=3
CONFIG_QLIB_EARLY_PRINTK=y

# enable uart driver
CONFIG_SERIAL=y

# console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

CONFIG_LOG=y
CONFIG_LOG_MODE_MINIMAL=y

CONFIG_SHELL=y
CONFIG_SHELL_BACKENDS=y
CONFIG_SHELL_BACKEND_SERIAL=y

CONFIG_SOC_LOG_LEVEL_DBG=y

