/*
 * QCC730
 *
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 * SPDX-License-Identifier: Apache-2.0
 */

#include <arm/armv7-m.dtsi>
#include <mem.h>
#include <freq.h>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/i2c/i2c.h>

/ {

	power-states {
		s2ram: s2ram {
			compatible = "zephyr,power-state";
			power-state-name = "suspend-to-ram";
			min-residency-us = <100000>;
			exit-latency-us = <8000>;
		};

		softoff: softoff {
			compatible = "zephyr,power-state";
			power-state-name = "soft-off";
			min-residency-us = <3000000>;
			exit-latency-us = <500000>;
		};
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-m4";
			reg = <0>;
			cpu-power-states = <&softoff>;
			clock-frequency = <DT_FREQ_M(60)>;
		};
	};

	/* PBL_RAM (xrw) : ORIGIN = 0x00000000, LENGTH = 0x0000A000 */
	/* PBL clear SBL stack end at 0x90000 with size 0x1000 */
	/* 0x90000~0xA0000 are reserved as wifi hw packet */
	sram0: memory@10000 {
		compatible = "mmio-sram";
		reg = <0x10000 0x80000>;
	};

	soc {
		/* QCC730V2_QSPI_BASE_BASE = 0x01190000UL */
		/* QCC730V2_RRAM_CTRL_BASE_BASE = 0x01192400UL */
		flash: flash-controller@1190000 {
			compatible = "qcom,rram_qcc730";
			reg = <0x01190000 0x1000>;
			#address-cells = <1>;
			#size-cells = <1>;
			
			/* SBLA start at 0x20A400, size 0x8000 */
			/* SBLB start at 0x212400, size 0x8000 */
			/* APP_BIN start at 0x21A400 */
			/* BDF ends at 0x37A000, size 0x6000 */
			/* For APP_ELF, size is limited by SRAM but not RRAM */
			flash0: flash@21A400 {
				compatible = "RRAM";
				reg = <0x21A400 0x140000>;
				write-block-size = <2048>;
				erase-block-size = <2048>;
			};
			/*
			flash0: flash@10000 {
				compatible = "soc-nv-flash";
				reg = <0x10000 0x40000>;
				write-block-size = <2048>;
				erase-block-size = <2048>;
			}; */
		};

		pmu: pmu@11aec00 {
			reg = <0x011aec00 0xfbc>;
		};

		pinctrl: pinctrl {
			compatible = "qcom,qcc730-pinctrl";
			#pinctrl-cells = <1>;
		};

		gpioa: gpio@1233a00 {
			compatible = "qcom,qcc730-gpio";
			gpio-controller;
			reg = <0x01233a00 0x0c>;
			#gpio-cells = <2>;
			interrupts = <0x30 0x2>;
			status = "disabled";
			ngpios = <15>;
		};

		i2c0: i2c@1233900 {
			compatible = "qcom,qcc730-i2c";
			reg = <0x01233900 0x100>;
			clock-frequency = <I2C_BITRATE_STANDARD>;
			periph-clock-frequency_khz = <DT_FREQ_K(60)>;
			interrupts = <0x02 0x2>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		uart0: uart@1233800 {
			compatible = "qcom,qcc730-uart";
			reg = <0x01233800 0xac>;
			interrupts = <0x03 0x2>;
			rx-buffer-size = <8>;
			status = "disabled";
		};

		watchdog0: watchdog {
			compatible = "qcom,qcc730-wdt";
			status = "disabled";
		};

		qtimer: qtimer@11a8000 {
			compatible = "qcom,qcc730-qtimer";
			#address-cells = <1>;
			#size-cells = <1>;
			clock-frequency = <DT_FREQ_K(38400)>;
			reg = <0x011a8000 0x5ef8>;

			frame0: timer@11a9000 {
				compatible = "qcom,qcc730-qtmr";
				reg = <0x011a9000 0xfd4>;
				interrupts = <0x04 0x2>;
				id = <0>;
				status = "disabled";
			};

			frame1: timer@11aa000 {
				compatible = "qcom,qcc730-qtmr";
				reg = <0x011aa000 0xfd4>;
				interrupts = <0x05 0x2>;
				id = <1>;
				status = "disabled";
			};

			frame2: timer@11ab000 {
				compatible = "qcom,qcc730-qtmr";
				reg = <0x011ab000 0xfd4>;
				interrupts = <0x06 0x2>;
				id = <2>;
				status = "disabled";
			};

			frame3: timer@11ac000 {
				compatible = "qcom,qcc730-qtmr";
				reg = <0x011ac000 0xfd4>;
				interrupts = <0x07 0x2>;
				id = <3>;
				status = "disabled";
			};

			frame4: timer@11ad000 {
				compatible = "qcom,qcc730-qtmr";
				reg = <0x011ad000 0xfd4>;
				interrupts = <0x08 0x2>;
				id = <4>;
				status = "disabled";
			};
		};

		rtc: rtc {
			compatible = "qcom,qcc730-rtc";
			qtimer-frame = <&frame0>;
			alarms-count = <1>;
		};

		aon_timer0: aon_timer {
			compatible = "qcom,qcc730-aon-timer";
			interrupts = <0x37 0x0>;
			status = "disabled";
		};
	};
};

&nvic {
	arm,num-irq-priority-bits = <2>;
};
