# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: Apache-2.0;
config WIFI_QUALCOMM
	bool "QUALCOMM wifi driver"
	select QWIFI
	select WIFI_USE_NATIVE_NETWORKING if NETWORKING
	select NET_L2_WIFI_MGMT if NETWORKING
	select NET_L2_ETHERNET_MGMT if NETWORKING && NET_L2_ETHERNET
	#default y
	default n

if CONFIG_WIFI_QUALCOMM


endif # CONFIG_WIFI_QUALCOMM
