# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: Apache-2.0;
config UART_QCC730
	bool "QCC730 UART driver"
	default y
	#default n
	depends on SOC_QCC730_HAS_UART_V2
	select BOARD_QCC730_UART_ENABLE
	select SERIAL_HAS_DRIVER
	select UART_QCC730_LL
	select UART_HAL
	# select SERIAL_SUPPORT_INTERRUPT

if UART_QCC730

endif
