# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: Apache-2.0;
config DRV_DUMMY
	bool "Dummy driver"
	default n

if DRV_DUMMY

module = DRV_DUMMY
module-str = drv_dummy
source "subsys/logging/Kconfig.template.log_config"

rsource "./Kconfig.*"

endif # DRV_DUMMY